nvim/.config/nvim/bundle/*
polybar/.config/polybar/polybar-spotify-controls
nvim/.config/nvim/undodir/*
**/*.swp
vifm/.config/vifm/vifminfo.json
bash/.bash_export
polybar/.config/polybar/weather_api_key
conky/.config/conky/.editorconfig
i3/.config/i3/config.save
nvim/.config/nvim/plugged/*
