configuration {
	modi: "window,run,ssh";
	width: 1220;
	lines: 20;
	location: 0;
	padding: 50;
	show-icons: true;
	terminal: "rofi-sensible-terminal";
	sort: true;
	sidebar-mode: true;
	eh: 1;
	line-margin: 5;
	hide-scrollbar: true;
	show-match: true;
}
@theme "onedark"
